<object xmlns="http://www.w3.org/1999/xhtml" data="https://www-sites-opensocial.googleusercontent.com/gadgets/proxy/refresh=600&container=enterprise/https://sites.google.com/a/student.ucps.k12.nc.us/rebelgaming/home/games/Donkey%20Kong.swf?attredirects=0&d=1" height="100%" type="application/x-shockwave-flash" width="100%"><param name="wmode" value="direct" />
</object><script src="https://www-sites-opensocial.googleusercontent.com/gadgets/proxy/refresh=600&container=enterprise/https://sites.google.com/site/s019i5h/ruffle.js"></script>
